/*
GENERAL SETTING - DESKTOP FIRST
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*
UTILITY SETTING
*/
ul{
    list-style-type: none;
    
}

a{
    text-decoration: none;
}

.inline-block{
    display: inline-block;
}

.margin20{
    margin: 20px;
}

.margin-bottom20{
    margin-bottom: 20px;
}

/*
MAIN END CONTAINER APP SETTING
*/
.container{
    width: 100%;
    height: 100vh;
}

.row-flex{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    overflow: hidden;
}

/*
NAV-SIDEBAR SETTING
*/
.sidebar{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-sidebar{
    width: 100%;
    height: 500px;
}

.bottom-sidebar{
    width: 100%;
    height: 100px;
    background-color: darkmagenta;
}

/*
FIRST SECTION LOGO END LOGO MOBILE
*/
.logo{
    width: 100%;
    height: 100px;
    border: 1px dashed black;
    display: block;
}

.w-logo{
    margin: 20px;
    width: 150px;
}

.small-logo{
    display: none;
    text-align: center;
}

.w-small-logo{
    width: 30px;
    margin: 5px;
}

/*
SECOND SECTION MENU-SIDEBAR
*/
.menu-sidebar{
    width: 100%;
}

.menu-sidebar ul{
    text-align: left;
}

.icon-svg{
    width: 30px;
    margin: 5px;
    margin-left: 20px;
}

.menu-sidebar span{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.menu-sidebar li{
    position: relative;
}



/*
THREE SECTION PLAYLIST
*/
.menu-playlist{
    width: 100%;
    height: 250px;
    border: 1px dashed black;
    background-color: green;
}

/*
FOUR SECTION INSTALL-APP END CLIENT
*/
.item-install-client{
    width: 100%;
    height: 100px;
    border: 1px dashed black;
    background-color: yellow;
}

/*
FIVE SECTION MUSIC-CONTENT
*/
.music-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.topbar{
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(82, 81, 81, 0.749);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.row-button{
    width: 100%;
    height: 100px;
    position: relative;
}

.button-upgrade{
    width: 300px;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0%, -50%);
}

.button{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: 2px solid white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 25px;
}
    
/*
SIX SECTION CONTENT E NAV
*/
.content-musical-artist{
    overflow-y: auto;
    padding-top: 130px;
    height: 100%;
}

.nav-center{
    text-align: center;
}

.item-nav-link{
    padding-right: 25px;
}

.item-recently-played{
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.album img{
    max-width: 100%;
}

.album-flex{
    display: flex;
    justify-content:flex-start;
    margin-left: 20px;
}

.album{
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
}

/*
FOOTER-PLAYER SETTING
*/
.player{
    width: 100%;
    height: 100px;
    border: 1px dashed black;
    background-color: rgb(47, 47, 36);
    position: fixed;
    bottom: 0;
}

/*
TABLET
*/
@media screen and (max-width: 991px) {
    .album{
        width: calc(100% / 4 - 20px);
    }

    .album-flex{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .album{
        width: calc(100% / 2 - 20px);
    }

    .album-flex{
        flex-wrap: wrap;
    }
}

/*
MOBILE
*/
@media screen and (max-width: 550px) {
    .sidebar{
        width: 50px;
    }

    .music-content{
        width: calc(100% - 50px);
    }

    .topbar{
        width: calc(100% - 50px);
    }

    .album{
        width: calc(100% / 2 - 20px);
    }

    .album-flex{
        flex-wrap: wrap;
    }

    .menu-playlist{
        display: none;
    }

    .logo{
        display: none;
    }

    .small-logo{
        display: block;
    }

    .menu-sidebar ul{
        text-align: center;
    }

    .menu-sidebar span{
        display: none;
    }

    .icon-svg{
        margin-left: 5px;
    }
}
